@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Brawler&family=Kreon&family=Mitr&display=swap");
@layer base {
  html,
  body,
  #fullheight {
    min-height: 100% !important;
    height: 100%;
  }
  body {
    @apply bg-dark-primary;
  }

  @media only screen and (max-width: 600px) {
    body {
    }
  }

  @media (prefers-color-scheme: dark) {
    .glassmorph {
      /* @apply backdrop-blur-[16px] backdrop-saturate-[180%]; */
      /* From https://css.glass */
      -webkit-backdrop-filter: blur(4px);
      background: rgba(34, 40, 49, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  }
  .navlink {
    @apply bottom-0 h-[2.5rem] w-[2.5rem] flex justify-center items-center rounded-full;
  }
  .horizontal-center {
    @apply -translate-x-[50%] left-[50%];
  }
  .mitr {
    font-family: "Mitr", sans-serif;
  }

  .brawler {
    font-family: "Brawler", serif;
  }

  .kreon {
    font-family: "Kreon";
  }

  .poppins {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .card {
    width: 300px;
    min-height: 200px;
    height: 150px;    
  }

  .front {
    width: 100%;
    height: 100%;
    background: #005F74;
    line-height: 3rem;
    position: relative;
    padding: 0.5rem;
    z-index: 5;
    border-radius: 15px;
    text-align: center;
    transition: all 0.5s;
  }

  .behind {
    height: 50%;
    position: relative;
    z-index: 4;
    position: absolute;
    top: 50%;
    padding: 0.5rem;
    background: white;
    width: 100%;
    border-radius: 0 0 15px 15px;
  }

  .behind h3{
    color: black;
    font-weight: 500;
  }

  .behind .skill{
    padding: 3px;
    padding-inline: 8px;
    border-radius: 10px;
    background:black;
  }
}
