@import url("http://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Inter&family=Poppins&family=Brawler&family=Kreon&family=Mitr&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #fullheight {
    min-height: 100% !important;
    height: 100%;
  }
  body {
    @apply bg-dark-primary;
  }

  @media only screen and (max-width: 600px) {
    body {
    }
  }

  @media (prefers-color-scheme: dark) {
    .glassmorph {
      /* @apply backdrop-blur-[16px] backdrop-saturate-[180%]; */
      /* From https://css.glass */
      -webkit-backdrop-filter: blur(4px);
      background: rgba(34, 40, 49, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  }
  .navlink {
    @apply bottom-0 h-[2.5rem] w-[2.5rem] flex justify-center items-center rounded-full;
  }
  .horizontal-center {
    @apply -translate-x-[50%] left-[50%];
  }
  .mitr {
    font-family: "Mitr", sans-serif;
  }

  .brawler {
    font-family: "Brawler", serif;
  }

  .kreon {
    font-family: "Kreon";
  }

  .poppins {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .card {
    width: 20rem;
    height: 29.5rem;
  }

  .front {
    width: 100%;
    height: 100%;
    background: #005f74;
    position: relative;
    padding: 0.5rem;
    z-index: 6;
    border-radius: 15px;
    text-align: center;
    transition: height, width 0.5s;
    line-height: 4rem;
    font-size: 1.2em;
  }



  .behind {
    height: 30%;
    z-index: 4;
    position: absolute;
    top: 70%;
    padding: 0.5rem;
    background: white;
    width: 100%;
    border-radius: 0 0 15px 15px;
  }

  .behind h3 {
    color: black;
    font-weight: 500;
  }
  .front-second {
    position: absolute;
    top: 30%;
    z-index: 5;
    padding: 0.8rem;
    height: 70%;
    border-radius: 0 0 15px 15px;
    transition: all 0.8s;
  }

  .front-second li {
    margin-left: 1rem;
  }

  .behind .skill {
    padding: 3px;
    padding-inline: 8px;
    border-radius: 10px;
    background: black;
  }

  .project-card {
    transition: all 0.5s;
  }

  .project-card:hover {
    transition: all 0.3s;
    transform: scale(1.1);
  }

  .lemon-shadow {
    -webkit-filter: drop-shadow(0 0 0.56rem #92da7b);
    filter: drop-shadow(0 0 0.56rem #92da7b);
  }

  .project-card .title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6rem;
  }

  .project-card .body {
    font-family: "Jetbrains Mono", monospace;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }

  a {
    color: honeydew;
    text-decoration: underline;
    transition: all 1s;
  }
}
